/* whole page */
* {
    box-sizing: border-box;
}
/* setting up margins of page */
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
/* body */
body {
    margin: 0;
}
#bb{
    float: left;
    margin-top: -130px;
    height: 45px;
    width: 45px;
    margin-left: 8px;
}

/* slideshow */
.slideshow-container {
    top:0px;
    z-index: -1;
    margin-top: 80px;
    padding: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    margin: auto;
}
/*  slides*/
.mySlides {
    display: none;
    height: 100%;
    overflow: hidden;
}
/*  fading effect*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
/*  setting opacity*/
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*  setting opacity*/
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*  filler*/
#filler{
    height: 200vf;
}

/*  para*/
#filler-para{
    height: 10%;
}

/*  container*/
.firebaseui-container{
    background: rgba(56, 240, 56, 0.74) !important;
}
/*  container*/
#container{
    background-color: rgba(159, 239, 56, 0.90);
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 999;
}

/* text of logo */
#logotext{
    position: fixed;
    top: 25px;
    left: 80px;
    font-size: 30px;
}

/*  navigation bar*/
nav {
    padding: 8px;
}
/*  logo*/
.logo {
    float: left;
    margin-left: 0px;
    margin-top: 0px;
}
/*  link in logo*/
.logo a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}
/*  menus*/
nav ul {
    float: right;
}

/*  menus*/
nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}
nav ul li:last-child {
    margin-right: 24px;
}
nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1.2px;
    font-weight: bold;
    font: 24px Roboto,arial,sans-serif;
}

/*  marge */
#marge{
    margin-right: 70px;
    float: left;
    height: 10px;
    width: 10px;
    top: 0px;
    right: 10px;
}

/*  making media responsive for max-width of 864px */
@media screen and (max-width: 864px) {

    /* 	 logo*/
    .logo {
        padding: 0;
    }

    /* 	 nav- bar*/
    .nav-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #FFF;
        opacity: 0;
        transition: all 0.2s ease;
    }
    /* 	 menus*/
    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }
    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }
    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }
    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }
    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }
    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }
    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }
    /* 	 menu button*/
    .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }
    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
    }
    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }
    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
}
#nav:checked + .nav-btn {
    transform: rotate(45deg);
}
#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}
#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}
#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}
#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}
.hidden {
    display: none;
}

/*  footer */
.footer-distributed{
    z-index: 999;
    height: 150px;
    bottom: 0px;
    position: fixed;
    background: rgba(159, 239, 56, 0.84);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 22px 50px;
}
/*  footer*/
.footer-distributed .footer-left,.footer-distributed .footer-center,.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left{
    width: 40%;
}
/* The company logo */
.footer-distributed h2{
    color: #006400;
    font: normal 27px 'Cookie', cursive;
    margin: 0;
}
.footer-distributed h2 span{
    color: #000000;
    font-kerning: 12px;
}
.footer-distributed .footer-company-name{
    color: #008000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i{
    background-color: #473d2a;
    color: #ffffff ;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    color: #000;
    vertical-align: middle;
    margin:0;
}
.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
.footer-distributed .footer-center p a{
    color: black;
    text-decoration: none;
    /* margin-left: -30px;
    */
    margin-top: 2px;
    ;
}
/* Footer Right */
.footer-distributed .footer-right{
    width: 20%;
    text-overflow: ellipsis;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: ##567d46;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span{
    display: block;
    color: #000;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons{
    margin-top: 25px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
#firebaseui-auth-container{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    /* margin-right: 15% !important;
    margin-top: 2% !important;
    */
}
.firebaseui-tos{
    color: #000000 !important;
}
.firebaseui-card-content{
    padding: 0px !important;
}
.firebaseui-card-footer firebaseui-provider-sign-in-footer{
}
.firebaseui-card-footer{
    padding: 0 !important;
}
.firebaseui-idp-button{
    margin-top: 10% !important;
}

/*      whole page    */        
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*body*/

body {
    width: 100%;
    height: 100%;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 13px;
    text-align: center;

}


/*button*/
.li{

    position: relative;

    width: 100px;
    height: 100px;
}


/*rotation effect*/
@-moz-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}


/*rotation effect*/
@-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}


/*rotation effect*/
@-o-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}


/*rotation effect*/
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

/*buttons*/

.round {
    /*		display: block;*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;		
    text-decoration: none;		
    text-align: center;
    font-size: 25px;		
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;		
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}




/*	vegetable button*/
a.green {
    background-color: rgba(127,255,0,1);
    color: rgba(0,63,71,1);
    border-color: rgba(0,63,71,.2);
    margin-left: 300px;
}


/*fruit button*/
a.red{
    background-color: rgba(255,0,0,1);
    color: rgba(0,63,71,1);
    border-color: rgba(0,63,71,.2);
}

/*

a.yellow{
background-color: rgba(1,151,171,1);
color: rgba(0,63,71,1);
border-color: rgba(0,63,71,.2);
}
*/


/*    transition to the buttons*/
.round span.round {
    /*		display: block;*/
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}


/*        transition*/
.round span:hover {
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);	
}


/*span element of vegetable button*/
.green span {
    background: rgba(0,0,0,.7);		
}


/*    span element of fruit button*/
.red span{
    background: rgba(0,63,71,.7);		
}
/*
.yellow span{
background: rgba(0,63,71,.7);		
}
*/


/*vegetables div*/
#vegies{
    height: 400px;
    width: 400px;
    margin-top: 100px;
}



/*fruits div */
#fruits{
    height: 400px;
    width: 400px;
    margin-left: 950px;
    margin-top: -450px;

}

/*
#others{
height: 400px;
width: 400px;
margin-left: 40%;
margin-top: 200px;

}


fruits div 
#img3{
width: 200px;
height: 200px;
margin-top: -100px;

}

*/

@media screen and (max-width: 600px){



    /*                fruits div*/
    #fruits{
        margin-left: 0px;
        margin-top: 0px;
    }
    #main-content{
        margin-top: -76px;
    }
}



/*body*/
body, html {
    font-family: 'Oxygen Mono', monospace;
    color: #000;
}


/*text*/
#text2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-size: 30pt;
    margin-bottom: 15px;
}


/* text*/
#text1 {
    text-align: center;

    margin: 0;
    text-transform: lowercase;
    font-size: 10pt;
    font-weight: 900;
    width: 50%;
    display: none;
}


/*diplaying nav bar*/
#table {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}


/*center alignment*/
#centeralign {

    vertical-align: middle;
}


/*text*/
.css-typing{
    margin-left: 32%;
    margin-top: -15%;
}


/* text*/
.css-typing p {
    border-right: .15em solid white;
    font-family: "Times New Roman";
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;



}


/* animation to first line*/
.css-typing p:nth-child(1) {
    width: 7.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


/*animation to second line*/
.css-typing p:nth-child(2) {
    width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


/*animation to third line */
.css-typing p:nth-child(3) {

    margin-left: -45%;
    font-size: 25px;
    opacity: 0;
    -webkit-animation: type3 5s steps(0, end), blink .5s step-end infinite alternate;
    animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}



/* typing effect*/
@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid WHITE;
    }
    100% {
        border: none;
    }
}


/* typing effect*/
@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid white;
    }
    100% {
        border: none;
    }
}


/* typing effect*/
@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid white;
    }
    100% {
        opacity: 1;
        border: none;
    }
}


/* typing effect*/
@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid white;
    }
    100% {
        opacity: 1;
        border: none;
    }
}


/* typing effect*/
@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


/* typing effect*/
@-webkit-keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


/* typing effect*/
@keyframes blink {
    50% {
        border-color: transparent;
    }
}


/* typing effect*/
@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

/*footer */
footer{
    margin-top: 200px;
}


/*        main content of the page*/
#main-content{
    /*                position: fixed;*/
    margin-top: -20px;
}



@media screen and (max-width: 840px){
    #bb{
        margin-top: 33%;
    }


    /*                main content of the page*/
    #main-content{
        position: fixed;
        margin-top: -127px;
    }


    /*                vegetables gif*/
    #img1{width: 200px;
        margin-top: 75px;
    }



    /*                fruits gif*/
    #img2{
        width: 195px;
        height: 195px;
        margin-top: 154px;
    }


    /*                text*/
    #text{
        height: 30px;
    }


    /*                small text*/
    small{
        font-size: 25px;
    }


    /*                highlighted text*/
    big{
        font-size: 30px;
    }


    /*                text*/
    #z{
        margin-left: -1px;
        margin-top: -13px;
    }


    /*                text*/
    #y{
        margin-left: 31px;
    }


    /*                vegetable div*/
    #vegies{
        margin-left: -90px;

    }


    /*                fruits div*/
    #fruits{
        margin-left: 550px;
    }


    /*                vegetables button */
    a.green{
        margin-left: 270px;
        margin-top: -20px;
        height: 96px;
        width: 96px;
    }


    /*                fruits button*/
    a.red{
        margin-left: 120px;
        height: 96px;
        width: 96px;
        margin-top: -10px;
    }



    /*                text div*/
    .css-typing {
        margin-left: 26%;
        margin-top: -21%;
    }


    /*                text */
    .css-typing p:nth-child(2){
        margin-left: 40px;}



    /*                text*/
    .css-typing p:nth-child(3) {
        margin-left: -35%;}
}



/*media query */
@media screen and (max-width: 480px){
    #bb{}

    /*               text*/
    p#y{
        margin-left: -26px;
    }


    /*                text*/
    p#z{
        margin-left: -78px;
    }


    /*                aligning and resizing fruit button*/
    a.round.red{
        margin-top: -90px;
        height: 68px;
        width: 69px;
        margin-left: -152px;
    }


    /*                resizing vegetable button */
    a.round.green{
        height: 68px;
        width: 69px;
    }


    /*                aligning fruit div*/
    #fruits{
        margin-top: 42px;
        margin-left: 429px;
    }


    /*                vegetable gif*/
    #img1{
        height: 150px;
        width: 150px;
        margin-left: -50px
    }


    /*                buttons*/
    .round{
        width: 70px;
        height: 71px;
        padding-top: 20px;
        font-size: 19px;
    }


    /*                resizing and positioning vegetable button*/
    a.green{
        margin-top: -85px;
    } 



    /*                resizing and positioning fruit button*/
    a.red{
        margin-left: 250px;
        margin-top: -95px;
        height: 60px;
        width: 60px;
    }


    /*                aligning text div*/
    .css-typing{
        margin-top: -290px;
        margin-left: 50px;

    }

    /*                resizing font*/
    small{
        font-size: 10px;
    }

    /*                resizing font*/
    big{
        font-size: 15px;
    }

    /*                text*/
    #text{
        height: 20px;
    }

    /*                aligning text*/
    #x{
        font-size: 20px;
        margin-top: -23px;
        margin-left: -27px;
    }


    /*                aligning text*/
    #y{
        margin-top: 25px;
        margin-left: 40px;
    }

    /*            aligning text*/
    #z{
        margin-top: -30px;
        margin-left: -19px;
    }


    /*                fruit gif */
    #img2{
        height: 150px;
        width: 150px;
        margin-left: 330px;
        margin-top: 80px;
    }
}

/*media query*/

@media screen and (max-width: 600px){

    #bb{
        height: 30px;
        width: 30px;
        margin-top: 43%;   
    }
    /*                positioning main div*/
    #main-content{
        margin-top: -44px;
    }


    /*                 aligning and resizing the vegetables gif*/
    #img1{
        width: 150px;
        margin-left: -44px;
        margin-top: 8px;
    }

    /*                 aligning and resizing the fruit gif*/
    #img2{
        width: 150px;
        margin-left: -140px;
        margin-top: -65px;
    }

    /*                 positioning the fruit button */
    a.red{
        margin-top: -108px;
        margin-left: -189px;
        width: 89px;
        height: 89px;
    }

    /*                 positioning the vegetables button */
    a.green{
        margin-top: -107px;
        width: 89px;
        height: 89px;
    }


    /*                 resizing the buttons */
    .round{
        width: 80px;
        height: 80px;
        /*                padding-top: 25px;*/
        font-size: 19px;
    }

    /*                 font-size of small text*/

    small{
        font-size: 15px;
    }

    /*                 font-size of highlighted text*/
    big{
        font-size: 20px;
    }

    /*                 text*/
    #text{
        height: 15 px;
    }

    /*                 positioning text*/
    #x{
        font-size: 20px;
        margin-left: -131px;
        margin-top: -19px;
    }

    /*                 positioning text div*/
    .css-typing{
        margin-top: -292px;
        margin-left: 125px;

    }

    /*                 positioning text*/
    #z{
        margin-top: -26px;
        margin-left: -33px              }

    /*                 positioning text*/
    #y{
        margin-top: 15px;
        margin-left: 27px;
    }

    /*                 resizing fruits div*/

    #fruits{
        height: 100px;
        width: 100px;
    }
}
@media only screen and (min-device-width : 360px) and (max-device-width : 479px){
    #fruits{
        margin-left: 66%;
    }

    #bb{
        margin-top: 62%;
    }
    .css-typing{
        margin-left: 66px;
        /* margin-top: -61px; */
        width: fit-content;
    }
}
