/* Universals */
.left{
    float: left;
}
.qmarg{
    margin: 2px;
}
button{
    background-color: rgba(000, 000, 000, 0);
    color: black;
    border: none;
    text-decoration: none;
    display: inline-block;
}
input{
    padding: 0px;
}
.inheight{
    height: 20px;
}
.inform{
    margin-top: 20px;
    height: 40px;
}
/* backround */
#expage{
    margin-top: 80px;
    height: 100vh;
    /*background-color: red;  for testing purposes */
}
/* Expiry Info */
#expcon{
    margin-top: 10px;
    border-style: outset;
    display: none;
    /* background-color: white; */
}
.bord{
    border-style: outset;
}
#exptab{
    width: 62px;
}
.exptab{
    width: 150px;
}
#exptabu{
    width: 48px;
}
.exptabtxt{
    padding: 2px 2px;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
}
.expitems{
    height: 62px;
    margin: 0px;
}
/* Expiry Input */
#imgcon{
    width: 120px;
    height: 120px;
    overflow: hidden;
}
#file{
    position:absolute;
    left:-10000px;
    top:-10000px;
}
#img{
    width: 100%;
    position: relative;
    top: -59px;
}
#imgbtn{
    position: relative;
    width: 100%;
    background-color: white;
    text-align: center;
    top: 62px;
    z-index: 1;
    font: 25px Roboto,arial,sans-serif;
}
#sub{
    margin-top: 43px;
    background-color: rgba(000, 000, 000, 0);
    padding: 2px;
    border: 1px solid;
    border-color: initial;
}
/* Expiry Recent */
#recn{
    display: none;
}
#re{
    margin-bottom: 170px;
}
/* Expiry Recomended */
#recmcontainer{
    height: 100%;
    position: absolute;
    margin-left: 585px;
    min-width: 260px;
}
#search{
    margin-left: .5em;
    margin-block-start: 1.2em;
    margin-block-end: 1em;
    width: 168px;
}
.recmod{
    padding: 2px;
    top: 79px !important;
    margin: 0px;
    text-align: initial !important;
    font-size: 14px !important;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.recmodi{
    top: -44px !important;
}
#recmod{
    position: relative;
    top: 99px;
    right: -67px;
    z-index: 3;
    font: 14px Roboto,arial,sans-serif;
    border: 1px solid;
}
@media only screen and (max-width: 888px) {
    #need{
        position: relative;
        left: 0px;
        right: 0px;
        margin: auto;
        float: none;
    }
    #expage{
        left: 0px;
        right: 0px;
    }
    #re{
        margin-bottom: 4px;
    }
    #recmcontainer{
        width: 565px;
        position: relative;
        left: 0px;
        right: 0px;
        margin: auto;
        margin-bottom: 30px;
    }
  }