
/* whole body*/
* {
    box-sizing: border-box;
}

/* setting the height and width of whole body*/
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/*setting margin of body to 0*/
body {
    margin: 0;
}
#bb{
    height: 55px;
    width: 55px;
    margin-bottom: 25px;
    margin-left: 8px;

}
/*
#body {
left: 0px;
margin: 0;
margin-top: 80px;
padding: 0;
width: 100%;
height: 100vh;
z-index: -1;
font-family: Poppins;
font-weight: 400;
background: url(background-img.jpg);
opacity: 0.94;
background-position: center;
background-size: cover;
}
*/

/*setting-up the slideshow */
.slideshow-container {
    top:0px;
    z-index: -1;
    margin-top: 80px;
    padding: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    margin: auto;
}

.mySlides {display: none;
    height: 100%;
    overflow: hidden;}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


#filler{
    height: 200vf;
}
#filler-para{
    height: 10%;
}/*
form{
background: rgb(200,255,200,0.65);
}*/
.firebaseui-container{
    background: rgba(56, 240, 56, 0.74) !important;
}
#container{
    background-color: rgba(159, 239, 56, 0.90);
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 999;
}
#logotext{
    position: fixed;
    top: 25px;
    left: 80px;
    font-size: 30px;

}
nav {
    padding: 8px;
}

.logo {
    float: left;
    margin-left: 0px;
    margin-top: 0px;
}

.logo a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;

    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1.2px;
    font-weight: bold;
    font: 24px Roboto,arial,sans-serif;
}

#marge{
    margin-right: 70px;
    float: left;
    height: 10px;
    width: 10px;
    top: 0px;
    right: 10px;
}

@media screen and (max-width: 864px) {
    .logo {
        padding: 0;
    }

    .nav-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #FFF;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}
.footer-distributed{
    z-index: 999;
    height: 150px;
    bottom: 0px;
    /*     position: fixed;*/
    background: rgba(159, 239, 56, 0.84); 
    width: 1520px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 22px 50px;

}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left{
    width: 40%;
}
/* The company logo */
.footer-distributed h2{
    color:  		#006400;
    font: normal 27px 'Cookie', cursive;
    margin: 0;
}
.footer-distributed h2 span{
    color:  #000000;
    font-kerning: 12px;
}

.footer-distributed .footer-company-name{
    color:  #008000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i{
    background-color:  #473d2a;
    color: #ffffff ;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    color: #000;
    vertical-align: middle;
    margin:0;
}
.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
.footer-distributed .footer-center p a{
    color: black;
    text-decoration: none;
    /* margin-left: -30px; */
    margin-top: 2px;;
}
/* Footer Right */
.footer-distributed .footer-right{
    width: 20%;
    text-overflow: ellipsis;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:  ##567d46;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span{
    display: block;
    color:  #000;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons{
    margin-top: 25px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
#firebaseui-auth-container{

    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    /* margin-right: 15% !important;
    margin-top: 2% !important; */

}
.firebaseui-tos{
    color: #000000 !important;
}
.firebaseui-card-content{
    padding: 0px !important;
}
.firebaseui-card-footer firebaseui-provider-sign-in-footer{
}
.firebaseui-card-footer{
    padding: 0 !important;
}
.firebaseui-idp-button{
    margin-top: 10% !important;
}

/*aligning and resizing the vegetable gif */
#vegetables{margin-top: 18px;
    margin-left: 600px;
    height: 300px;
    width:320px;
}

/* different vegetable gifs*/
.row img {
    margin-top: 65px;
    margin-left: 60px;
    padding: 10PX;
    height: 180px;
    width: 180px;

}

/* GLOBAL STYLES */
body {

    justify-content: center;
    margin: 0px;
}

/*paragraphs*/
p{
    font-size: x-large;
    margin-left: 8.4%;
    margin-right: 8%;
    margin-top: -2%;
    font-family: serif;
}

/* DEMO-SPECIFIC STYLES */

/*carrot text*/
#Carrot {
    color: #000;
    margin-left: 139px;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 1s steps(30, end),
        blink-caret .5s step-end infinite;
    margin-bottom: 80px;
    font-size: 2em;
}

/*sweetPotato text*/
#SweetPotatos{
    color: #000;
    margin-left: 352px;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 0.5s steps(30, end),
        blink-caret .5s step-end infinite;
    margin-bottom: 23px;
    font-size: 2em;
    margin-top: -113px;
}

/*Kale text*/
#Kale{
    color: #000;
    margin-left: 745px;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 1s steps(30, end),
        blink-caret .5s step-end infinite;
    margin-bottom: 18px;
    font-size: 2em;
    margin-top: -51px;
}

/*Zucchini text*/
#Zucchini{
    color: #000;
    margin-left: 995px;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 1s steps(30, end),
        blink-caret .5s step-end infinite;
    margin-bottom: 80px;
    font-size: 2em;
    margin-top: -49px;
}

/*tomato text*/
#Tomato{
    color: #000;
    margin-left: 1308px;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 1s steps(30, end),
        blink-caret .5s step-end infinite;
    margin-bottom: 80px;
    font-size: 2em;
    margin-top: -110px;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 20% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white}
}

/*the gifs */
#c1,#c2,#c3,#c4,#c5{
    background: rgb(255,255,255,0.0);
    border-color: white;
    margin-left: 7%;
}

/*media queries*/
@media only screen and (max-width: 840px){
    /*  the navigation bar*/
    #container{
        width: 840px;
        height:auto;

    }
    /*    footer*/
    .footer-distributed{
        width: 839px;
        margin-top: -5px;
    }

    /* The information div*/
    #content{
        margin-top: -46px;
    }

    /*    nav bar*/
    .nav-wrapper{

    }

    /*    gifs*/
    .row{
        margin-top: -42px;
        margin-left: -22px;
    }
    /*
    .nav-btn{
    position: absolute;
}
    */

    /*    vegetable gif*/


    #vegetables{
        margin-left: 232px;
        height: 227px;
        width: 227px;
        margin-top: 50px;
    }

    /*carrot text*/
    #Carrot{
        font-size: 18px;
        margin-left: 58px;
    }

    /*sweetPotato text*/
    #SweetPotatos{
        font-size: 18px;
        margin-left: 170px;
        margin-top: -102px;
    }

    /*    kale text */
    #Kale{
        font-size: 18px;
        margin-left: 395px;
        margin-top: -44.5px;
    }

    /*    Zucchini text*/
    #Zucchini{
        margin-left: 517px;
        font-size: 18px;

        margin-top: -40px;
    }

    /*    tomato text */
    #Tomato{
        margin-left: 666px;
        font-size: 18px;
        margin-top: -101px;
    }

    /*carrot gif*/
    #c1{
        margin-left: 50px;
    }

    /*    sweetPotato gif*/
    #c2{
        margin-left: 33px;
    }

    /*        kale gif */
    #c3{
        margin-left: 43px;
    }


    /*    Zucchini gif*/
    #c4{
        margin-left: 22px;
    }


    /*    tomato gif */

    #c5{
        margin-left: 19px;
    }

    /*    the gifs*/
    .row img{
        height: 120px;
        width: 120px;

    }
}


/*media query */
@media only screen and (max-width: 600px){

    /*    navigation bar*/
    #container{
        width: 600px;
    }
    /*    footer*/
    .footer-distributed{
        width: 600px;
        margin-top: -9px;

    }
    /*

    .row img{ 
    margin-top: 5px;
}
    */

    /*
    .nav-btn{
    position: absolute;
}
    */


    /*    the gifs*/
    .row{
        margin-top: -29.75px;
        margin-left: 6px;
    }

    /*the vegetable gif*/
    #vegetables{
        margin-left: 158px;
        height: 205px;
        width: 205px;
        margin-top: 61px;
    }

    #bb{
        height: 35px;
        width: 35px;
    }

    /*    carrot text*/

    #Carrot{
        font-size: 16px;
        margin-left: 23px;
    }

    /*    sweetpotato text*/
    #SweetPotatos{
        font-size: 16px;
        margin-left: 105px;
        margin-top: -98px;
        word-wrap: break-word; 
    }

    /*    kale text*/
    #Kale{
        font-size: 16px;
        margin-left: 286px;
        margin-top: -43px;
    }

    /*    Zucchini text*/
    #Zucchini{
        margin-left: 372px;
        font-size: 16px;

        margin-top: -36px;
    }

    /*tomato text*/
    #Tomato{
        margin-left: 485px;
        font-size: 16px;
        margin-top: -100px;
    }

    /*    carrot gif*/
    #c1{
        margin-left: -12px;
    }

    /*    sweetpotato gif*/
    #c2{
        margin-left: -10px;
    }

    /*    kale gif*/
    #c3{
        margin-left: 6px;
    }


    /*Zucchini gif*/
    #c4{
        margin-left: -10px;
    }

    /*    tomato gif*/
    #c5{
        margin-left: -20px;
    }

    /*    gifs*/
    .row img{
        height: 120px;
        width: 120px;

    }
}


/*media query*/
@media only screen and (max-width: 480px){

    /*    the nav bar*/
    #container{
        width: 480px;
    }

    /*    footer*/
    .footer-distributed{
        width: 480px;
        margin-top: -13px;
        height: 30%;
    }

    /* information div*/
    #content{
        margin-top: -46px;
    }
    /*

    .row img{ 
    margin-top: 5px;
}
    */

    /*    the menu button */
    .nav-btn{
        position: absolute;
    }

    /*    gifs*/
    .row{
        margin-top: -29.75px;
        margin-left: 6px;
    }

    /*    vegetable div */
    #vegetables{
        margin-left: 115px;
        height: 185px;
        width: 185px;
        margin-top: 61px;
    }

    /* Carrot text*/
    #Carrot{
        font-size: 14px;
        margin-left: 15px;
    }

    /*    sweetPotato text*/
    #SweetPotatos{
        font-size: 14px;
        margin-left: 83px;
        margin-top: -96px;
        word-wrap: break-word; 
    }

    /*    kale text*/
    #Kale{
        font-size: 14px;
        margin-left: 232px;
        margin-top: -39px;
    }

    /*    Zucchini text*/
    #Zucchini{
        margin-left: 296px;
        font-size: 14px;

        margin-top: -34px;
    }

    /*    tomato text*/
    #Tomato{
        margin-left: 384px;
        font-size: 14px;
        margin-top: -96px;
    }

    /*    carrot gif */
    #c1{
        margin-left: -10px;
    }

    /*    sweetpotato gif*/
    #c2{
        margin-left: -10px;
    }

    /*    kale gif*/
    #c3{
        margin-left: -1px;
        margin-right: 13px;
    }

    /*    Zucchini gif */
    #c4{
        margin-left: -27px;
        margin-right: -18px;
    }
    /*    tomato gif */

    #c5{
        margin-left: -7px;
    }

    /*    the gifs */
    .row img{
        height: 100px;
        width: 100px;

    }
}

@media only screen and (min-device-width : 360px) and (max-device-width : 479px){

    /*    the nav bar*/
    #container{
        width: 375px;
    }

    /*    footer*/
    .footer-distributed{
        width: 375px;
        margin-top: 115px;
        height: 30%;
    }

    /* information div*/
    #content{
        margin-top: -46px;
    }
    /*

    .row img{ 
    margin-top: 5px;
}
    */

    /*    the menu button */
    .nav-btn{
        position: absolute;
    }

    /*    gifs*/
    .row{
        margin-top: -29.75px;
        margin-left: 6px;
    }

    /*    vegetable div */
    #vegetables{
        margin-left: 57px;
        height: 147px;
        width: 147px;
        margin-top: 70px;
    }
    #bb{
        height: 30px;
        width: 30px;
    }
    /* Carrot text*/
    #Carrot{
        font-size: 12px;
        margin-left: 7px;
    }

    /*    sweetPotato text*/
    #SweetPotatos{
        font-size: 10px;
        margin-left: 63px;
        margin-top: -93px;
        word-wrap: break-word; 
        width: 84px;
    }

    /*    kale text*/
    #Kale{
        font-size: 12px;
        margin-left: 160px;
        margin-top: -37px;
    }

    /*    Zucchini text*/
    #Zucchini{
        margin-left: 198px;
        font-size: 11px;

        margin-top: -32px;
    }

    /*    tomato text*/
    #Tomato{
        margin-left: 268px;
        font-size: 12px;
        margin-top: -94px;
        width: fit-content;
    }

    /*    carrot gif */
    #c1{
        margin-left: -21px;
    }

    /*    sweetpotato gif*/
    #c2{
        margin-left: -24px;
    }

    /*    kale gif*/
    #c3{
        margin-left: -27px;
        margin-right: 13px;
        width: 80px;
    }

    /*    Zucchini gif */
    #c4{
        margin-left: -53px;
        margin-right: -7px;
    }
    /*    tomato gif */

    #c5{
        margin-left: -30px;
    }

    /*    the gifs */
    .row img{
        height: 95px;
        width: 95px;

    }
}

